
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    label.error {
        color: red;
        font-size: 80%;
    }

    input.error {
        border: 1px solid red;
    }

    input.valid {
        border: 1px solid green;
    }
</style>
<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
        <h2>Car List</h2>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addModal" onclick="addModalShow()">
           Add      
        </button>
    </div>

    <table id="carsTable" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>No</th>
                <th>Color</th>
                <th>Expiry</th>
                <th>Created</th>
                <th>Owner</th>
                <th>Model</th>
                <th>Attachment</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Modal title</h5>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <form id="FormAddCar">
                            <div class="form-group mb-2">
                                <label class="form-label" for="addModalNo">No</label>
                                <input type="text" class="form-control" id="addModalNo" name="addModalNo" value="" required>
                            </div>
                            <div class="form-group mb-2">
                                <label class="form-label" for="addModalColor">Color</label>
                                <input type="color" class="form-control form-control-color" id="addModalColor" name="addModalColor" value="" required>
                            </div>
                            <div class="form-group mb-2">
                                <label class="form-label" for="addModalExpiry">Expiry</label>
                                <input type="date" class="form-control" id="addModalExpiry" name="addModalExpiry" value="" required>
                            </div>
                            <div class="form-group mb-2">
                                <label class="form-label"  for="addModalCreated">Created</label>
                                <input type="date" class="form-control" id="addModalCreated" name="addModalCreated" required value="@DateTime.Now.ToString("yyyy-MM-dd")">
                            </div>
                            <div class="form-group mb-2">
                                <label class="form-label" for="addModalOwner">Owner</label>
                                <input type="text" class="form-control" id="addModalOwner" name="addModalOwner" required value="">
                            </div>
                            <div class="form-group mb-2">
                                <label class="form-label" for="addModalModel">Model</label>
                                <input type="text" class="form-control" id="addModalModel" name="addModalModel" required value="">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="addModalAttachment">Attachment</label>
                                <input type="file" class="form-control" id="addModalAttachment" required name="addModalAttachment" value="">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="addModalHide()">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addCar()">Add New</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">Modal title</h5>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <form id="FormUpdateCar">
                            <div class="form-group mb-2" hidden>
                                <label class="form-label" for="updateModalId">ID</label>
                                <input type="text" class="form-control" id="updateModalId" value="">
                            </div>
                            <div class="form-group mb-2">
                                <label class="form-label" for="updateModalNo">No</label>
                                <input type="text" class="form-control" id="updateModalNo" name="updateModalNo" required value="">
                            </div>
                            <div class="form-group mb-2">
                                <label class="form-label" for="updateModalColor">Color</label>
                                <input type="color" class="form-control form-control-color" id="updateModalColor" name="updateModalColor" required value="">
                            </div>
                            <div class="form-group mb-2">
                                <label class="form-label" for="updateModalExpiry">Expiry</label>
                                <input type="date" class="form-control" id="updateModalExpiry" name="updateModalExpiry" required value="">
                            </div>
                            <div class="form-group mb-2">
                                <label class="form-label" for="updateModalCreated">Created</label>
                                <input type="date" class="form-control" id="updateModalCreated" name="updateModalCreated" required value="">
                            </div>
                            <div class="form-group mb-2">
                                <label class="form-label" for="updateModalOwner">Owner</label>
                                <input type="text" class="form-control" id="updateModalOwner" name="updateModalOwner" required value="">
                            </div>
                            <div class="form-group mb-2">
                                <label class="form-label" for="updateModalModel">Model</label>
                                <input type="text" class="form-control" id="updateModalModel" name="updateModalModel" required value="">
                            </div>
                            <div id="updateModalOldAttachmentGroup" class="form-group mb-2">
                                <label class="form-label" for="updateModalOldAttachment">Old Attachment</label>
                                <div>
                                    <a id="updateModalOldAttachment" href="" target="_blank" type="button" class="btn btn-secondary btn-sm">view</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="updateModalAttachment">Attachment</label>
                                <input type="file" class="form-control" id="updateModalAttachment" name="updateModalAttachment" value="">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="updateModalHide()">Close</button>
                    <button type="button" class="btn btn-primary" onclick="updateCar()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/modal")
@Scripts.Render("~/bundles/booking-crud")
@section Scripts {
    <script type="text/JavaScript">

        $('document').ready(function () {
            table = new DataTable('#carsTable', {
                processing: true,
                serverSide: false,
                paging: true,
                ajax: {
                    url: '/Car/GetList/',
                    dataSrc: ''
                },
                columns: [
                    { data: 'Id' },
                    { data: 'CarNo' },
                    {
                        "data": "CarColor",
                        "render": function (data, type, row, meta) {                            
                            data = `<svg height="40" width="40"><circle cx="20" cy="20" r="8" stroke="black" stroke-width="1" fill="${row.CarColor}"/> </svg>`;
                            
                        return data;
                        }
                    },
                    { data: 'ExpiryDate' },
                    { data: 'CreatedAt' },
                    { data: 'CarModel' },
                    { data: 'OwnerName' },
                    {
                        "data": "Attachment",
                        "render": function (data, type, row, meta) {
                            if (type === 'display') {
                                if (row.Attachment!==null)
                                    data = '<a href="' + row.Attachment + '"  target="_blank" type="button" class="btn btn-secondary btn-sm">view</a>';
                                else
                                    data = '<a type="button" class="btn btn-secondary btn-sm disabled">view</a>';
                            }
                            return data;
                        }
                    },
                    {
                        defaultContent: `<button type="button" class="btn btn-warning btn-sm updateEvent">
                                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="15" height="15" viewBox="0 0 50 50">
                                            <path d="M 46.574219 3.425781 C 45.625 2.476563 44.378906 2 43.132813 2 C 41.886719 2 40.640625 2.476563 39.691406 3.425781 C 39.691406 3.425781 39.621094 3.492188 39.53125 3.585938 C 39.523438 3.59375 39.511719 3.597656 39.503906 3.605469 L 4.300781 38.804688 C 4.179688 38.929688 4.089844 39.082031 4.042969 39.253906 L 2.035156 46.742188 C 1.941406 47.085938 2.039063 47.453125 2.292969 47.707031 C 2.484375 47.898438 2.738281 48 3 48 C 3.085938 48 3.171875 47.988281 3.257813 47.964844 L 10.746094 45.957031 C 10.917969 45.910156 11.070313 45.820313 11.195313 45.695313 L 46.394531 10.5 C 46.40625 10.488281 46.410156 10.472656 46.417969 10.460938 C 46.507813 10.371094 46.570313 10.308594 46.570313 10.308594 C 48.476563 8.40625 48.476563 5.324219 46.574219 3.425781 Z M 45.160156 4.839844 C 46.277344 5.957031 46.277344 7.777344 45.160156 8.894531 C 44.828125 9.222656 44.546875 9.507813 44.304688 9.75 L 40.25 5.695313 C 40.710938 5.234375 41.105469 4.839844 41.105469 4.839844 C 41.644531 4.296875 42.367188 4 43.132813 4 C 43.898438 4 44.617188 4.300781 45.160156 4.839844 Z M 5.605469 41.152344 L 8.847656 44.394531 L 4.414063 45.585938 Z"></path>
                                            </svg>
                                        </button>`
                    },
                    {
                        defaultContent: `<button type="button" class="btn btn-danger btn-sm deleteEvent">
                                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="15" height="15" viewBox="0 0 128 128">
                                                <path d="M 49 1 C 47.34 1 46 2.34 46 4 C 46 5.66 47.34 7 49 7 L 79 7 C 80.66 7 82 5.66 82 4 C 82 2.34 80.66 1 79 1 L 49 1 z M 24 15 C 16.83 15 11 20.83 11 28 C 11 35.17 16.83 41 24 41 L 101 41 L 101 104 C 101 113.37 93.37 121 84 121 L 44 121 C 34.63 121 27 113.37 27 104 L 27 52 C 27 50.34 25.66 49 24 49 C 22.34 49 21 50.34 21 52 L 21 104 C 21 116.68 31.32 127 44 127 L 84 127 C 96.68 127 107 116.68 107 104 L 107 40.640625 C 112.72 39.280625 117 34.14 117 28 C 117 20.83 111.17 15 104 15 L 24 15 z M 24 21 L 104 21 C 107.86 21 111 24.14 111 28 C 111 31.86 107.86 35 104 35 L 24 35 C 20.14 35 17 31.86 17 28 C 17 24.14 20.14 21 24 21 z M 50 55 C 48.34 55 47 56.34 47 58 L 47 104 C 47 105.66 48.34 107 50 107 C 51.66 107 53 105.66 53 104 L 53 58 C 53 56.34 51.66 55 50 55 z M 78 55 C 76.34 55 75 56.34 75 58 L 75 104 C 75 105.66 76.34 107 78 107 C 79.66 107 81 105.66 81 104 L 81 58 C 81 56.34 79.66 55 78 55 z"></path>
                                            </svg>
                                         </button>`
                    }
                ],
                columnDefs: [
                    {
                        targets: [0],
                        visible: false
                    },                    
                    {
                        "targets": "_all",
                        "className": "text-center",
                    },
                    {
                        "targets": "_all",
                        "className": "align-middle",
                    }
                ],
                responsive: true,
                "order": [[1, "asc"]]
            });
            $('#carsTable tbody').on('click', '.viewEvent', function () {
                var row = $(this).closest('tr');

                var data = table.row(row).data().Attachment;

            });
            $('#carsTable tbody').on('click', '.updateEvent', function () {
                var row = $(this).closest('tr');

                var data = table.row(row).data().Id;
                updateModalShow(data);
            });

            $('#carsTable tbody').on('click', '.deleteEvent', function () {
                var row = $(this).closest('tr');

                var data = table.row(row);
                Swal
                    .fire({
                        title: "Are you sure?",
                        text: "You won't be able to revert this!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes, delete it!"
                    })
                    .then((result) => {
                        if (result.isConfirmed) {
                            deleteCar(data);
                        }
                    });

            });
            $.validator.addMethod("fileSizeRange", function (value, element, param) {
                var fileSize = element.files[0].size; // Get the file size in bytes
                return fileSize <= param;
            }, "File should be less or equal 10MB");
            addValidator=$("#FormAddCar").validate({
                submitHandler: function (form) {
                    form.submit();
                },
                onfocusout: function (e) {
                    this.element(e);
                },
                rules: {
                    addModalNo: {
                        required: true,
                        number: true
                    }, addModalColor: {
                        required: true
                    }, addModalExpiry: {
                        required: true,
                        dateISO: true
                    }, addModalCreated: {
                        required: true
                    }, addModalOwner: {
                        required: true
                    }, addModalModel: {
                        required: true
                    }, addModalAttachment: {
                        extension: "pdf|jpeg|jpg|png"
                    }
                },
                messages: {
                    addModalNo: {
                        required: "Please enter No",
                        number: "Please enter a valid number"
                    }, addModalColor: {
                        required: "Please enter Color"
                    }, addModalExpiry: {
                        required: "Please enter Expiry Date",
                        dateISO: "Please enter a valid date"
                    }, addModalCreated: {
                        required: "Please enter Created Date"
                    }, addModalOwner: {
                        required: "Please enter Owner"
                    }, addModalModel: {
                        required: "Please enter Model"
                    }, addModalAttachment: {
                        extension: "Please select a valid file type (pdf, jpeg, jpg, png)"
                    }
                },
                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        $("<br>").appendTo(element.parent().parent().find("label:first"));
                        error.appendTo(element.parent().parent().find("label:first"));
                    } else {
                        $("<br>").appendTo(element.parent().find("label"));
                        error.appendTo(element.parent().find("label"));
                    }
                }
            });

            updateValidator = $("#FormUpdateCar").validate({
                submitHandler: function (form) {
                    form.submit();
                },
                onfocusout: function (e) {
                    this.element(e);
                },
                rules: { 
                    updateModalNo: {
                        required: true,
                        number: true
                    }, updateModalColor: {
                        required: true
                    }, updateModalExpiry: {
                        required: true,
                        dateISO: true
                    }, updateModalCreated: {
                        required: true
                    }, updateModalOwner: {
                        required: true
                    }, updateModalModel: {
                        required: true
                    }
                },
                messages: {
                    updateModalNo: {
                        required: "Please enter No",
                        number: "Please enter a valid number"
                    }, updateModalColor: {
                        required: "Please enter Color"
                    }, updateModalExpiry: {
                        required: "Please enter Expiry Date",
                        dateISO: "Please enter a valid date"
                    }, updateModalCreated: {
                        required: "Please enter Created Date"
                    }, updateModalOwner: {
                        required: "Please enter Owner"
                    }, updateModalModel: {
                        required: "Please enter Model"
                    }
                },
                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        $("<br>").appendTo(element.parent().parent().find("label:first"));
                        error.appendTo(element.parent().parent().find("label:first"));
                    } else {
                        $("<br>").appendTo(element.parent().find("label"));
                        error.appendTo(element.parent().find("label"));
                    }
                }
            });
        });

    </script>
}
